{% extends "layout.html" %}

{% block content %}

<div class="page-header">
    <h1>A Tweee</h1>
</div>
<div class="row">
    <div class="col-md-3">
        <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
        <b>Your Name</b><br>
        100 followers
    </div>
    <class="col-md-9"></div>


            <!-- display tweets here -->
            {% for tweet in tweets %}
    <div class="row">

        {% for tweet in tweets %}

        {% endfor %}
            <div class ="col-md-4">
                <h1><a href="/users/{{tweet.name}}">{{tweet.name}}</a></h1>
            </div>
            <div class = "col-md-8">
                <li><a href="/users/{{tweet.name}}/tweets/{{tweet.id}}">{{tweet.tweet}}</a></li>
            </div>
    </div>
            {% endfor %}


</div>

{% endblock %}